<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010112</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>李乾孙兆</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010113</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>王二</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010114</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>孙七</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>201601010111</string>
		<key>job</key>
		<string>无线产品-iOS总监-很长的字</string>
		<key>phone</key>
		<string>12345678911</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>赵钱孙李</string>
	</dict>
</array>
</plist>
